input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid blue;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 5px;
    background-color: grey;
}
label{
  color: blue;
}
input[type=text]:focus {
    border: 3px solid #ccc;
}